numpy>=1.9
pandas>=0.12
scipy>=0.12
statsmodels>=0.4.3
netcdf4>=1.1.0
GDAL>=1.10.0
pytesmo>=0.3.2
pyresample
pygeogrids>=0.1.3
Shapely>=1.3.2
pyshp>=1.2.1
paramiko>=1.14.0
requests>=1.14.0
pillow>=2.5.1
Flask>=0.10.1
Flask-Cors>=1.9.0
patool>=1.7
pyunpack>=0.0.3
sphinx_rtd_theme>=0.1.6
