{% extends "layout_ol.html" %}

{% block body %}

<script>
$(function init() {
	
	var opacity = 0.75
	
	proj4326 = new OpenLayers.Projection("EPSG:4326");
		
	gphy = new OpenLayers.Layer.Google("Google Physical", {
		type: google.maps.MapTypeId.TERRAIN
	});
	osm = new OpenLayers.Layer.OSM("openstreetmap");
	map = new OpenLayers.Map("map");
	map.addControl(new OpenLayers.Control.LayerSwitcher());
	map.addLayers([osm, gphy]);
	map.setCenter(new OpenLayers.LonLat({{coord}}).transform(proj4326, map.getProjectionObject()), {{zoom}});

	bounds = new OpenLayers.Bounds(); 				// bounding box for the overlay:
	bounds.extend(new OpenLayers.LonLat{{ex1}}); 	// overlay image appears cutoff at the edges due to massive upscaling
	bounds.extend(new OpenLayers.LonLat{{ex2}});	// referrencing image on it's center coord. possible
	bounds.transform(proj4326, map.getProjectionObject());
		
	image = new OpenLayers.Layer.Image('IMAGE', "{{ovl}}", bounds, new OpenLayers.Size(3400, 1600), { 
		'isBaseLayer': false,	// drawing overlay with the latest overlay image
		'alwaysInRange': true,
		'opacity' : opacity
	});
	map.addLayer(image);
	
	var values = [0, {{max}}]; 	// [0, len(dates)] --> dates = dekad_index(begindate, enddate): defining timeseries for the slider range control
	
	$("#slider").slider({
		range: false,
		min: values[0],
		max: values[1],
		value: values[1],
		slide: function(event, ui) {
			$.getJSON('/_pretty_date', {current: ui.value}, 
					function(data) {
						$("#currentValue").text(data.currentV);
					});
		},
		stop: function(event, ui) {	// on mouse up the tamsat layer gets redrawn with 'data.rdat'
			$.getJSON('/_rdat', {
			current: ui.value,
			}, function (data) {
			image.destroy();
			image = new OpenLayers.Layer.Image('IMAGE', data.rdat, bounds, new OpenLayers.Size(3400, 1600), {
				'isBaseLayer': false,
				'alwaysInRange': true,
				'opacity' : opacity
				});
			map.addLayer(image);
			});	
		}
				
	});

});


</script>
<h1>Image</h1>
<div class="row">
	<div id='map' class="col-md-12" style="height:640px;">
	</div>
</div>
<br>
<div class="row">
	<div id="main" class="col-md-12"> <!--slider controls-->
		<div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"></div>
	</div>
	Current: <span id="currentValue"></span>
</div>

{% endblock %}